.overley {
    background-color: rgb(104 98 98 / 68%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.record {
    background-color: #fff;
    width: 50%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1500;
    transform: translate(50%, 25%);
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}


h3 {
    color: brown;
}